# Predicting Resturant Revenue
#### The first try on kaggle , Just trying to imitate and learn form the others to be ready for other copetitions
### Credits
#### Some code of this notebook back to the following:
##### https://www.kaggle.com/abdalazez/restaurant-revenue-predictive
##### https://www.kaggle.com/ayushikaushik/regression-analysis
##### You are so welcome to add your comments and edits.

### By : **Omar Farag**
#### Date : October 2020

### Competition Link from Kaggle:
####   https://www.kaggle.com/c/restaurant-revenue-prediction/overview
    
### List of Contents
* 1. Importing Libraries
* 2. Loading and Exploring the Data
* 3. Preprocessing
* 4. Modeling the data
* 5. Saving and Submission the predictions



# Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score
from sklearn.model_selection import cross_val_score

### Loading and Exploring the Data

In [2]:
train_data = pd.read_csv('train.csv')
test_data_row = pd.read_csv('test.csv')
test_data = pd.read_csv('test.csv')

In [3]:
#Show all columns
pd.options.display.max_columns=None
train_data.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,4,5,5,3,5,5.0,1,2,2,2,4,5,4,1,3,3,1,1,1.0,4.0,2.0,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,5,5,5,1,5,5.0,0,0,0,0,0,3,2,1,3,2,0,0,0.0,0.0,3.0,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,5,5,5,5,2,5,5.0,0,0,0,0,0,1,1,1,1,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,8,10,10,8,10,7.5,6,4,9,3,12,20,12,6,1,10,2,2,2.5,2.5,2.5,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,5,5,5,2,5,5.0,2,1,2,1,4,2,2,1,2,1,2,3,3.0,5.0,1.0,3.0,5,1,3,2,3,4,3,3,4316715.0

In [4]:
test_data.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,2,5,4,5,5,5,3,4.0,0,0,0,2,0,5,5,3,1,4,0,0,0.0,0.0,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,2,5,3,4,4,2,4,5.0,0,0,0,0,0,5,5,3,2,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,2,5,4,4,5,4,5,5.0,0,0,0,0,0,5,5,5,5,5,0,0,0.0,0.0,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,3,5,4,5,4,3,4,5.0,0,0,0,0,4,4,4,3,2,2,0,0,0.0,0.0,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,2,5,4,5,4,3,5,4.0,0,0,0,0,0,1,5,3,1,1,0,0,0.0,0.0,5.0,3.0,0,0,0,0,0,0,0,0

In [5]:
train_data.info()
#data_train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

In [6]:
train_data.describe()

,Id,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,1.370000e+02
mean,68.000000,4.014599,4.408759,4.317518,4.372263,2.007299,3.357664,5.423358,5.153285,5.445255,5.489051,3.262774,5.299270,5.080292,1.416058,1.386861,1.941606,1.036496,1.941606,4.905109,4.547445,2.270073,2.226277,3.423358,1.372263,1.211679,1.470803,1.145985,3.222628,3.135036,2.729927,1.941606,2.525547,1.138686,2.489051,2.029197,2.211679,1.116788,4.453533e+06
std,39.692569,2.910391,1.514900,1.032337,1.016462,1.209620,2.134235,2.296809,1.858567,1.834793,1.847561,1.910767,1.941668,1.036527,2.729583,2.398677,3.505807,2.030679,3.300549,5.604467,3.708041,2.052630,1.230690,4.559609,2.304112,2.133179,2.612024,2.067039,2.308806,1.680887,5.536647,3.512093,5.230117,1.698540,5.165093,3.436272,4.168211,1.790768,2.576072e+06
min,0.000000,1.000000,1.000000,0.000000,3.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.149870e+06
25%,34.000000,2.000000,4.000000,4.000000,4.000000,1.000000,2.000000,5.000000,4.000000,4.000000,5.000000,2.000000,4.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.999068e+06
50%,68.000000,3.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,4.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,2.500000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.939804e+06
75%,102.000000,4.000000,5.000000,5.000000,5.000000,2.000000,4.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,2.000000,2.000000,3.000000,1.000000,4.000000,5.000000,5.000000,3.000000,3.000000,5.000000,2.000000,2.000000,2.500000,2.000000,4.000000,3.000000,4.000000,3.000000,3.000000,2.000000,3.000000,4.000000,3.000000,2.000000,5.166635e+06
max,136.000000,12.000000,7.500000,7.500000,7.500000,8.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,7.500000,15.000000,10.000000,15.000000,15.000000,12.000000,25.000000,15.000000,15.000000,5.000000,25.000000,10.000000,10.000000,12.500000,12.500000,12.500000,7.500000,25.000000,15.000000,25.000000,6.000000,24.000000,15.000000,20.000000,8.000000,1.969694e+07

In [7]:
train_data.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

### Preprocessing
* 1- Handle the data as needed
* 2- Grabing the categorical columns
* 3- Handle these columns
* 4- Drop randunt or unnessesary columns
* 5- Speperate the features and the label as needed
* 6- Check need for normalization or standerdization (Apply if any) 
* 7- Splite the data to training and validation
* 8- Checking for shapes

In [8]:
#Categorical train_Data
cat = (train_data.dtypes == 'object')
categorical_train = list(cat[cat].index)
categorical_train

['Open Date', 'City', 'City Group', 'Type']

In [9]:
#Categorical test_Data
cat_t = (test_data.dtypes == 'object')
categorical_test = list(cat_t[cat_t].index)
categorical_test

['Open Date', 'City', 'City Group', 'Type']

In [10]:
#Handling the date and dropping the Open Date column   -- train Data
train_data['Open Date'] = pd.to_datetime(train_data['Open Date'])
train_data['Month'] = [x.month for x in train_data['Open Date']]
train_data['year'] = [x.year for x in train_data['Open Date']]
train_data.drop(['Open Date'],axis=1,inplace=True)

In [11]:
#Handling the date and dropping the Open Date column  -- Test Data
test_data['Open Date'] = pd.to_datetime(test_data['Open Date'])
test_data['Month'] = [x.month for x in test_data['Open Date']]
test_data['year'] = [x.year for x in test_data['Open Date']]
test_data.drop(['Open Date'],axis=1,inplace=True)

In [12]:
# Drop City  and ID -- Train Data
train_data.drop(['City','Id','year'],axis=1,inplace=True)

In [13]:
# Drop City  and ID -- Test Data
test_data.drop(['City','Id','year'],axis=1,inplace=True)

In [14]:
cat = (train_data.dtypes == 'object')
categorical_train = list(cat[cat].index)
categorical_train

['City Group', 'Type']

In [15]:
cat_s = (test_data.dtypes == 'object')
categorical_test = list(cat_s[cat_s].index)
categorical_test

['City Group', 'Type']

In [16]:
print ("categories in each categorical column in Train data")
for t in categorical_train:
    print (f"Train data -- {t} : {len(train_data[t].value_counts())} ")
print ("categories in each categorical column in Test data")
for t in categorical_train:
    print (f"Test data -- {t} : {len(test_data[t].value_counts())} ")

categories in each categorical column in Train data
Train data -- City Group : 2
Train data -- Type : 3
categories in each categorical column in Test data
Test data -- City Group : 2
Test data -- Type : 4

In [17]:
train_data['Type'].value_counts()

FC    76
IL    60
DT     1
Name: Type, dtype: int64

In [18]:
test_data['Type'].value_counts()

FC    57019
IL    40447
DT     2244
MB      290
Name: Type, dtype: int64

##### We will use fit and transform on test data as it has the max number of categories

In [19]:
encoder = LabelEncoder()
train_data['City Group'] = encoder.fit_transform(train_data['City Group'])
test_data['City Group'] = encoder.transform(test_data['City Group'])

# Convert the method of fitting and transforming
test_data['Type'] = encoder.fit_transform(test_data['Type'])
train_data['Type'] = encoder.transform(train_data['Type'])

In [20]:
#Dummies -- Train data
train_data = pd.get_dummies(train_data, columns=['Month','Type','City Group'], prefix = ['Month','Type','City Group'])

#Dummies -- Train data
test_data = pd.get_dummies(test_data, columns=['Month','Type','City Group'], prefix = ['Month','Type','City Group'])

In [21]:
train_data.head()

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Type_0,Type_1,Type_2,City Group_0,City Group_1
0,4,5.0,4.0,4.0,2,2,5,4,5,5,3,5,5.0,1,2,2,2,4,5,4,1,3,3,1,1,1.0,4.0,2.0,3.0,5,3,4,5,5,4,3,4,5653753.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0
1,4,5.0,4.0,4.0,1,2,5,5,5,5,1,5,5.0,0,0,0,0,0,3,2,1,3,2,0,0,0.0,0.0,3.0,3.0,0,0,0,0,0,0,0,0,6923131.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2,2,4.0,2.0,5.0,2,3,5,5,5,5,2,5,5.0,0,0,0,0,0,1,1,1,1,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,2055379.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,6,4.5,6.0,6.0,4,4,10,8,10,10,8,10,7.5,6,4,9,3,12,20,12,6,1,10,2,2,2.5,2.5,2.5,7.5,25,12,10,6,18,12,12,6,2675511.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
4,3,4.0,3.0,4.0,2,2,5,5,5,5,2,5,5.0,2,1,2,1,4,2,2,1,2,1,2,3,3.0,5.0,1.0,3.0,5,1,3,2,3,4,3,3,4316715.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1

In [22]:
test_data.head()

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Type_0,Type_1,Type_2,Type_3,City Group_0,City Group_1
0,1,4.0,4.0,4.0,1,2,5,4,5,5,5,3,4.0,0,0,0,2,0,5,5,3,1,4,0,0,0.0,0.0,2.0,3.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,3,4.0,4.0,4.0,2,2,5,3,4,4,2,4,5.0,0,0,0,0,0,5,5,3,2,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
2,3,4.0,4.0,4.0,2,2,5,4,4,5,4,5,5.0,0,0,0,0,0,5,5,5,5,5,0,0,0.0,0.0,2.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
3,2,4.0,4.0,4.0,2,3,5,4,5,4,3,4,5.0,0,0,0,0,4,4,4,3,2,2,0,0,0.0,0.0,2.0,3.0,0,4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
4,2,4.0,4.0,4.0,1,2,5,4,5,4,3,5,4.0,0,0,0,0,0,1,5,3,1,1,0,0,0.0,0.0,5.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1

In [23]:
# Seperating the data
y = train_data['revenue']
x = train_data.copy()
x.drop(['revenue'],axis=1,inplace=True)

x_test = test_data

In [24]:
# Adjust the shapes
x ['Type_3'] = 0
print (x .shape)
print (y.shape)
print (x_test.shape)

(137, 55)
(137,)
(100000, 55)

In [25]:
# Splitting the data
x_train, x_val, y_train, y_val = train_test_split(x,y, test_size = 0.25,shuffle= False, random_state = 42)

### Modeling the Data

#### We will use grid search to apply some of models and compare between their performances

In [26]:
# Setting Parameters
regressors = {
    'Linear Regression' : LinearRegression(),
    'Decision Tree' : DecisionTreeRegressor(),
    'Random Forest' : RandomForestRegressor(),
    'AdaBoostRegressor': AdaBoostRegressor(),
    'K-nearest Neighbors' : KNeighborsRegressor(),
    'GradientBoostingRegressor' : GradientBoostingRegressor(),
    'Support Vector Machines' : SVR(),
    'XGBoost' : XGBRegressor()
}
results=pd.DataFrame(columns=['MAE','MSE','R2-score'])

for method,func in regressors.items():
    func.fit(x_train,y_train)
    y_pred = func.predict(x_val)
    results.loc[method]= [mean_absolute_error(y_val,y_pred),
                          mean_squared_error(y_val,y_pred),
                          r2_score(y_val,y_pred)
                         ]
results

                                    MAE           MSE  R2-score
Linear Regression          2.595288e+06  1.213928e+13 -2.900902
Decision Tree              1.750050e+06  4.258396e+12 -0.368416
Random Forest              1.453161e+06  3.480950e+12 -0.118588
AdaBoostRegressor          1.305679e+06  3.867849e+12 -0.242916
K-nearest Neighbors        1.584837e+06  4.361226e+12 -0.401460
GradientBoostingRegressor  1.814440e+06  5.042109e+12 -0.620259
Support Vector Machines    1.228631e+06  3.202780e+12 -0.029199
XGBoost                    1.348893e+06  2.993350e+12  0.038101

In [27]:
#RandomForestRegressor

parameters = {
              'max_depth':  list(range(6, 30, 10)),
              'max_leaf_nodes': list(range(50, 500, 100)),
              'n_estimators': list(range(50, 1001, 150))
            }

from sklearn.model_selection import GridSearchCV

gsrch = GridSearchCV(estimator=RandomForestRegressor(),
                       param_grid = parameters, 
                       scoring='neg_mean_squared_error',
                       n_jobs=4,cv=5,verbose=7)

gsrch.fit(x,y)

Fitting 5 folds for each of 105 candidates, totalling 525 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   11.4s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:   34.7s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:  1.1min
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.7min
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:  2.8min
[Parallel(n_jobs=4)]: Done 384 tasks      | elapsed:  3.9min
[Parallel(n_jobs=4)]: Done 504 tasks      | elapsed:  5.2min
[Parallel(n_jobs=4)]: Done 525 out of 525 | elapsed:  5.5min finished

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=4,
             param_grid={'max_depth': [6, 16, 26],
                         'max_leaf_nodes': [50, 150, 250, 350, 450],
                         'n_estimators': [50, 200, 350, 500, 650, 800, 950]},
             scoring='neg_mean_squared_error', verbose=7)

In [28]:
print(gsrch.best_params_.get('n_estimators'))
print(gsrch.best_params_.get('max_leaf_nodes'))
print(gsrch.best_params_.get('max_depth'))
print (gsrch.best_score_)

50
350
6
-6571325425247.325

In [29]:
RF_model = RandomForestRegressor(
                         max_depth = gsrch.best_params_.get('max_depth'),
                           max_leaf_nodes = gsrch.best_params_.get('max_leaf_nodes'),
    n_estimators = gsrch.best_params_.get('n_estimators'),random_state=42, n_jobs=4)
RF_model.fit(x,y)

RandomForestRegressor(max_depth=6, max_leaf_nodes=350, n_estimators=50,
                      n_jobs=4, random_state=42)

In [30]:
y_prd_val_RF= RF_model.predict(x)
y_prd_RF_final = RF_model.predict(x_test)

In [31]:
R2=r2_score(y,y_prd_val_RF)
R2

0.6846454548683325

In [32]:
MSE = np.square(np.subtract(y,y_prd_val_RF)).mean() 
MSE

2077462982605.5398

In [33]:
final_submission = pd.DataFrame(columns=['Id','Prediction'])
final_submission['Id'] = test_data_row['Id']
final_submission['Prediction'] = y_prd_RF_final
final_submission.to_csv('submission_RF_final.csv',index=False)

#  ****

In [34]:
# AdaBoostRegressor

param_dist = {
 'n_estimators': [50,75, 100,150],
 'learning_rate' : [0.001,0.01,0.05,0.1,0.3,1],
 'loss' : ['linear', 'square', 'exponential']
 }

cfl = GridSearchCV(AdaBoostRegressor(),param_grid = param_dist, cv=3, n_jobs=-1)

cfl.fit(x, y)

GridSearchCV(cv=3, estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.001, 0.01, 0.05, 0.1, 0.3, 1],
                         'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [50, 75, 100, 150]})

In [35]:
print(cfl.best_params_)
print(cfl.best_score_)

{'learning_rate': 1, 'loss': 'exponential', 'n_estimators': 150}
0.09009323619108485

In [36]:
rr=AdaBoostRegressor(learning_rate= 0.001, loss='exponential',n_estimators= 75)
rr.fit(x,y)

AdaBoostRegressor(learning_rate=0.001, loss='exponential', n_estimators=75)

In [37]:
h=rr.predict(x)
R2=r2_score(y,h)
R2

0.29856883452726923

In [38]:
rr_pred= rr.predict(x_test)

## *******************************************